@model AnnouncementUserListModel

@{ ViewData["Title"] = "Duyurularım";
    Layout = "_Layout"; }

<!--begin::Entry-->
<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container">
        <!--begin::Card-->
        <div class="card card-custom">
            <div class="card-header flex-wrap border-0 pt-6 pb-0">
                <div class="card-title">
                    <h3 class="card-label">
                        Duyurularım
                    </h3>
                </div>
            </div>
            <div class="card-body">
                <!--begin: Datatable-->
                <div class="datatable datatable-bordered datatable-head-custom datatable-default datatable-primary datatable-loaded" id="kt_datatable" style="">
                    <table class="datatable-table" style="display: block;">
                        <thead class="datatable-head">
                            <tr class="datatable-row" style="left: 0px;">
                                <th data-field="Title" class="datatable-cell datatable-cell-sort"><span style="width: 137px;">BAŞLIK</span></th>
                                <th data-field="CityName" class="datatable-cell datatable-cell-sort"><span style="width: 137px;">ŞEHİR</span></th>
                            </tr>
                        </thead>
                        <tbody class="datatable-body" style="">
                            @for (int i = 0; i < Model.announcementUserListDto.Count; i++)
                            {
                <tr data-row="@i" class="datatable-row" style="left: 0px;">
                    <td data-field="Title" aria-label="Brazil" class="datatable-cell"><span style="width: 137px;">@Model.announcementUserListDto[i].Title</span></td>
                    <td data-field="CityName" aria-label="10/15/2017" class="datatable-cell"><span style="width: 137px;">@Model.announcementUserListDto[i].CityName</span></td>
                    <td>
                        <a asp-controller="Announcement" asp-action="Update" asp-route-id="@Model.announcementUserListDto[i].Id" class="btn btn-sm btn-clean btn-icon mr-2" title="Duyuru Düzenle">
                            <span class="svg-icon svg-icon-md">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24"></rect>
                                        <path d="M8,17.9148182 L8,5.96685884 C8,5.56391781 8.16211443,5.17792052 8.44982609,4.89581508 L10.965708,2.42895648 C11.5426798,1.86322723 12.4640974,1.85620921 13.0496196,2.41308426 L15.5337377,4.77566479 C15.8314604,5.0588212 16,5.45170806 16,5.86258077 L16,17.9148182 C16,18.7432453 15.3284271,19.4148182 14.5,19.4148182 L9.5,19.4148182 C8.67157288,19.4148182 8,18.7432453 8,17.9148182 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.000000, 10.707409) rotate(-135.000000) translate(-12.000000, -10.707409) "></path>
                                        <rect fill="#000000" opacity="0.3" x="5" y="20" width="15" height="2" rx="1"></rect>
                                    </g>
                                </svg>
                            </span>
                        </a>
                    </td>
                </tr>}
                        </tbody>
                    </table>
                </div>
                <!--end: Datatable-->
            </div>
        </div>
        <!--end::Card-->
    </div>
    <!--end::Container-->
</div>
<!--end::Entry-->
